<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Registration Success</title>
    <link rel="stylesheet" 
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" 
		crossorigin="anonymous">
</head>
<body>
    
    <div class="container my-2">
    <h1 style="background-color:PeachPuff;">Client Contact Management</h1>
	<br/>
        <h3>Success! Client registration is now completed</h3>
        <br/>
        <a href="/">Sign Out</a>  
    <br/><br/><br/>
    <footer style="background-color:PeachPuff;">&copy; Copyright 2022 Client Info</footer>	
    </div>        
</body>
</html>